<!doctype html>
<html>
    <head>
        <title>Waku Planer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/libs/bootstrap-clockpicker.css">
    </head>
   <body ng-app="wakuplnr">
        <div class="container" ng-controller="MainCtrl">
            <div class="row">
                <div class="col-xs-4">
                    Datum: <br />
                    <waku-date value="day"></waku-date>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-4">
                    von:<br />
                    <waku-time value="startTime"></waku-time>
                </div>
                <div class="col-offset-xs-2 col-xs-4">
                    bis:<br />
                    <waku-time value="endTime"></waku-time>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-default" ng-click="logme()">Log Date</button>
                    <button type="button" class="btn btn-primary" ng-click="saveEvent()">Save</button>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
        <script src="/wakuplnr-app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>
        <script src="/libs/bootstrap-clockpicker.js"></script>
   </body>
</html>
